header {
    height: 100vh;
    padding-top: 4rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* CTA */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Header Social */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

h5 {
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}

/* Header My image */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 23rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}

/* ScrollDown */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


/* Media Queries for Medium Devices(Tablet) */

@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
        padding-top: 5rem;
    }

    .header__content h5 {
        font-size: 0.85rem;
        letter-spacing: 2px;
    }

    .header__content h1 {
        font-size: 2.5rem;
    }

    .header__content h2 {
        font-size: 1.8rem;
    }

    .cta {
        margin-top: 2rem;
        gap: 1rem;
    }

    .me {
        width: 16rem;
        height: 20rem;
        left: calc(50% - 8rem);
        margin-top: 1rem;
    }
}

/* Media Queries for Small Devices(Mobile) */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
        padding-top: 3rem;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    .header__content h5 {
        font-size: 0.75rem;
        letter-spacing: 1.5px;
    }

    .header__content h1 {
        font-size: 2rem;
    }

    .header__content h2 {
        font-size: 1.4rem;
    }


    .cta {
        margin-top: 1.5rem;
        gap: 0.8rem;
        flex-direction: column;
        align-items: center;
    }

    .cta .btn {
        width: 80%;
    }

    .me {
        width: 14rem;
        height: 19rem;
        left: calc(50% - 7rem);
        margin-top: 2.5rem;
        padding: 1.5rem 1rem 1rem 1rem;
    }
}