nav{
    background: rgba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    height: 4.3rem; 
    transition: var(--transition);

}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease;
    color: var(--color-light);
    font-size: 1.1rem;
    transition: var(--transition);
}
nav a span {
    display: none;
    transition: var(--transition);
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    gap: 0.5rem;
    transition: all 400ms ease;
}

nav a:hover span{
    display: inline;
    transition: var(--transition);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
    border-radius: 100px;
    transition: var(--transition);
    
}
nav a.active :hover span{
    transition: var(--transition);
}